[Unit]
Description=Keeps Vault healthcheck service up and running
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/environment
ExecStart=/usr/local/bin/vault-check.sh
Restart=on-failure
RestartSec=30
StandardOutput=append:/var/log/vault-check.log
StandardError=append:/var/log/vault-check.log
RemainAfterExit=yes
User=vault
Group=vault

[Install]
WantedBy=multi-user.target